:root {
    --buttontext-color: #333333;
    --background12text-color: #FFFFFF;
    --h2pform-color: #2E363E;
    --inputform-color: #7E868E;
    --lasta-color: #842231;
    --buttonfirstsection-background: #DBA069;
    --section3-background: rgba(132, 34, 49, 0.05);
    --section5-background: #F9F4F4;
    --input-background: #F2F6FA;
}

